.body{
    max-width: 1170px;
    margin: 0 auto;
}
.card-section{
    text-align: center;
}

.card-container{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}
.card{
    width: 300px;
    border: 2px solid red;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px 10px 10px rgb(116, 113, 113);

}
.card:hover{
    background-color: aquamarine;
}
.card img{
    width: 100%;
    width: 300px;
    border-radius: 25px;
}
.card button{
    background-color: aqua;
    padding: 20px;
    border-radius: 25px
}